@media all 
{ 
  .pagebreak { display:none; } 
} 
 
@media print 
{ 
  .pagebreak { display:inline-block; page-break-before:always; } 
}
.data1
{
    FONT-SIZE: 10pt;
    COLOR: darkslateblue;
    TEXT-INDENT: 8pt;
    BACKGROUND-COLOR: aliceblue;
    TEXT-ALIGN: left
}
.data2
{
    FONT-SIZE: 9pt;
    COLOR: darkslateblue;
    BACKGROUND-COLOR: #ffff99
}
.data3
{
    FONT-SIZE: 9pt;
    COLOR: darkblue;
    BACKGROUND-COLOR: #ccff66
}
.data11
{
    FONT-SIZE: 7pt;
    COLOR: #6666cc;
    BACKGROUND-COLOR: aliceblue;
    TEXT-ALIGN: right
}
.data22
{
    FONT-SIZE: 10pt;
    BACKGROUND-COLOR: #ffff99
}
.data33
{
}
.data20
{
    BACKGROUND-COLOR: lightgrey
}
.data10
{
    FONT-SIZE: 10pt;
    COLOR: dodgerblue;
    TEXT-INDENT: 8pt;
    BACKGROUND-COLOR: aliceblue;
    TEXT-ALIGN: left
}
.data21
{
    FONT-SIZE: 9pt;
    COLOR: darkslateblue;
    BACKGROUND-COLOR: #ffcc66
}
.data23
{
    font-size: 9pt;
    color: darkslateblue;
    background-color: #FFFF99;
}
.data24
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 11pt;
    BORDER-LEFT: medium none;
    COLOR: darkslateblue;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffff99
}
.data251
{
    FONT-SIZE: 10pt;
    COLOR: darkslateblue;
    TEXT-INDENT: 8pt;
    BACKGROUND-COLOR: #ffc0cb;
    TEXT-ALIGN: left
}
.data252
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    TEXT-INDENT: 8pt;
    BACKGROUND-COLOR: #ffc0cb;
    TEXT-ALIGN: center
}
.data261
{
    FONT-SIZE: 10pt;
    COLOR: darkslateblue;
    TEXT-INDENT: 8pt;
    BACKGROUND-COLOR: SandyBrown;
    TEXT-ALIGN: left
}
.data262
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    TEXT-INDENT: 8pt;
    BACKGROUND-COLOR: SandyBrown;
    TEXT-ALIGN: center
}
.data271
{
    FONT-SIZE: 10pt;
    COLOR: darkslateblue;
    TEXT-INDENT: 8pt;
    BACKGROUND-COLOR: #ffff99;
    TEXT-ALIGN: left
}
.data272
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    TEXT-INDENT: 8pt;
    BACKGROUND-COLOR: #ffff99;
    TEXT-ALIGN: center
}
.data281
{
    FONT-SIZE: 10pt;
    COLOR: darkslateblue;
    TEXT-INDENT: 8pt;
    BACKGROUND-COLOR: #add8e6;
    TEXT-ALIGN: left
}
.data282
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    TEXT-INDENT: 8pt;
    BACKGROUND-COLOR: #add8e6;
    TEXT-ALIGN: center
}
.notab1
{
    FONT-SIZE: 10px;
    COLOR: darkslategray;
    BACKGROUND-COLOR: #ffcc00
}
.selTab1
{
    FONT-SIZE: 10px;
    COLOR: slateblue;
    BACKGROUND-COLOR: lavender
}
.c1button
{
    BORDER-RIGHT: 2px;
    BORDER-TOP: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 2px;
    CURSOR: hand;
    COLOR: white;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: 2px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #9966cc
}
.sgreenbutton
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 0px;
    CURSOR: hand;
    COLOR: #eaf9f5;
    PADDING-TOP: 0px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #006666;
    TEXT-ALIGN: center
}
.greenbutton
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 8px;
    FONT-SIZE: 10pt;
    CURSOR: hand;
    COLOR: #eaf9f5;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 6px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #006666;
    TEXT-ALIGN: center
}
.RoyalBluebutton
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 8px;
    FONT-SIZE: 10pt;
    CURSOR: hand;
    COLOR: #eaf9f5;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 6px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #4169e1;
    TEXT-ALIGN: center
}
.redbutton
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 8px;
    FONT-SIZE: 10pt;
    CURSOR: hand;
    COLOR: #eaf9f5;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 6px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: red;
    TEXT-ALIGN: center
}
.greendata
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #eaf9f5
}
.greendata11
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #eaf9f5
}
.greentable
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #006666
}
.greentext
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #b3d9d1;
    TEXT-ALIGN: right
}
.greenhead
{
    FONT-SIZE: 11pt;
    COLOR: #003333;
    FONT-FAMILY: Verdana, Arial;
    FONT-VARIANT: normal
}
.greenth
{
    FONT-SIZE: 10pt;
    COLOR: black;
    HEIGHT: 20pt;
    BACKGROUND-COLOR: #b3d9d1;
    TEXT-ALIGN: center
}
.sfont8
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, 細明體, Arial
}
.sfont9
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: white
}
.sfont91
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: white
}
.greenths
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #b3d9d1;
    TEXT-ALIGN: center
}
.greenths1
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: lightgreen;
    TEXT-ALIGN: center
}
.greendatas
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #eaf9f5
}
.greendatas1
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #b7fbb7
}
.greendatas2
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #d1f6d9
}
.greentexts
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #b3d9d1
}
.rfont9
{
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: Verdana, 細明體, Arial
}
.gfont9
{
    FONT-SIZE: 9pt;
    COLOR: green;
    FONT-FAMILY: Verdana, 細明體, Arial
}
.sfont7
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, 細明體, Arial
}
.greendata8
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #eaf9f5
}
.tabon
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
.tab
{
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A
{
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
.tdbg
{
    BACKGROUND-POSITION: left top;
    BACKGROUND-REPEAT: no-repeat
}
.text9-white
{
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
.text9
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: none
}
.CliMod
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: antiquewhite
}
.CliOrg
{
    FONT-SIZE: 9pt;
    COLOR: darkred;
    FONT-FAMILY: Arial, Verdana;
    BACKGROUND-COLOR: #f5fefe
}
.bluetable
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #006666
}
.lightbluetable
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #88ddff
}
.query
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #eeff00
}
.whitetablebg
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, 新細明體;
    BACKGROUND-COLOR: #ffffff
}
.yellowtablebg
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffff00
}
.SEdit
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM-STYLE: none
}
.gSEdit
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #eaf9f5;
    BORDER-BOTTOM-STYLE: none
}
.rSEdit
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM-STYLE: none;
    color: #FF0000;
}
.gSEdit1
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #b3d9d1;
    TEXT-ALIGN: right;
    BORDER-BOTTOM-STYLE: none
}
.dataSEdit
{
    BORDER-TOP-STYLE: none;
    FONT-FAMILY: Verdana, Arial;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #ffff99;
    BORDER-BOTTOM-STYLE: none
}
.cbutton
{
    BORDER-TOP-WIDTH: 1px;
    PADDING-LEFT: 2px;
    BORDER-LEFT-WIDTH: 1px;
    FONT-SIZE: 10pt;
    BORDER-LEFT-COLOR: #88ddff;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: #000099;
    CURSOR: hand;
    COLOR: #ffffff;
    BORDER-TOP-COLOR: #88ddff;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 4px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #005599;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: #000099
}
.FormName
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
.Formtext
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
.FormLink
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #0000cc;
    FONT-FAMILY: Verdana, Arial
}
.MenuName
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffcc00;
    FONT-FAMILY: Verdana, Arial
}
.Formbody
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
.FormRtext
{
    FONT-SIZE: 10pt;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial
}
.English
{
    FONT-SIZE: 9pt;
    COLOR: #808080;
    FONT-FAMILY: "Arial"
}
.xSunDay
{
    FONT-SIZE: 10pt;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffddbb
}
.xSatDay
{
    FONT-SIZE: 10pt;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffe8e8
}
.HeadText
{
    FONT-SIZE: 10pt;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial
}
.tab-title
{
    BACKGROUND-POSITION: center center;
    FONT-SIZE: 10pt;
    BACKGROUND-IMAGE: url(../images/titleg2.jpg);
    COLOR: darkblue;
    FONT-FAMILY: Verdana, Arial, 標楷體;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold
}
.tab-titleon
{
    BACKGROUND-POSITION: center center;
    FONT-SIZE: 10pt;
    BACKGROUND-IMAGE: url(../images/titleg11.jpg);
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, 標楷體;
    TEXT-ALIGN: center
}
.tab-title1
{
    BACKGROUND-POSITION: center center;
    FONT-SIZE: 10pt;
    COLOR: darkblue;
    FONT-FAMILY: Verdana, Arial, 標楷體;
    TEXT-ALIGN: center
}
.tab-titleon1
{
    BACKGROUND-POSITION: center center;
    FONT-SIZE: 10pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, 標楷體;
    TEXT-ALIGN: center
}
.conts
{
    DISPLAY: none
}
.tab
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: #e0e0e0 thin solid;
    BORDER-LEFT: #faebb6 thin solid;
    CURSOR: hand;
    COLOR: #185590;
    BACKGROUND-COLOR: #faebb6;
    TEXT-ALIGN: center
}
.btab
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: #faebb6 thin solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #faebb6 thin solid;
    CURSOR: default;
    COLOR: #185590;
    BORDER-BOTTOM: gray thin solid;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: lightgoldenrodyellow;
    TEXT-ALIGN: center
}
.selTab
{
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: middle;
    CURSOR: hand;
    COLOR: white;
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #cccfd0;
    TEXT-ALIGN: center;
    BORDER-BOTTOM-STYLE: none
}
.notab
{
    BORDER-RIGHT: 1px ridge;
    BORDER-TOP: 0px ridge;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: 1px ridge;
    CURSOR: hand;
    COLOR: navy;
    BORDER-BOTTOM: 1px;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: gold;
    TEXT-ALIGN: center
}
.bttab
{
    FONT-SIZE: 10pt;
    COLOR: #185590;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: transparent
}
INPUT
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial
}
SELECT
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial
}
BODY
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial
}
.BottomFrame
{
    MARGIN-TOP: 0px;
    BACKGROUND-COLOR: lightyellow
}
.greensum
{
    COLOR: mediumblue;
    BACKGROUND-COLOR: #9adfd1
}
.ibutton
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    COLOR: blue;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    HEIGHT: 11pt;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
.ibutton1
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    COLOR: blue;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    HEIGHT: 11pt;
    BACKGROUND-COLOR: #eaf9f5;
    TEXT-ALIGN: center
}
.ibuttonr
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    COLOR: red;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    HEIGHT: 11pt;
    BACKGROUND-COLOR: white
}
.ibuttonr1
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    COLOR: red;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    HEIGHT: 11pt;
    BACKGROUND-COLOR: #eaf9f5
}
.lightbluetable3
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: lightcyan
}
.lightbluetable4
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: lightgoldenrodyellow
}
.greentext1
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: teal;
    TEXT-ALIGN: center
}
.greendata2
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #eaebee
}
.greentext2
{
    FONT-SIZE: 9pt;
    COLOR: black;
    BORDER-TOP-STYLE: none;
    FONT-FAMILY: Verdana, Arial;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #cccccc;
    BORDER-BOTTOM-STYLE: none
}
.greentext3
{
    FONT-SIZE: 9pt;
    COLOR: blue;
    BORDER-TOP-STYLE: none;
    FONT-FAMILY: Verdana, Arial;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #b3d9d1;
    BORDER-BOTTOM-STYLE: none
}
.gSEdit2
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #eaebee;
    BORDER-BOTTOM-STYLE: none
}
.greentext3
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: blue;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #b3d9d1
}
.greentextk
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: blue;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, 新細明體, Arial;
    BACKGROUND-COLOR: #b3d9d1;
    TEXT-ALIGN: right
}
.greendatak
{
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #eaf9f5
}
.greentext4
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #b3d9d1;
    TEXT-ALIGN: center
}
.greentext5
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: teal;
    TEXT-ALIGN: left
}
.g1button
{
    BACKGROUND-COLOR: darkseagreen
}
.y1button
{
    COLOR: black;
    BACKGROUND-COLOR: yellow
}
.g2button
{
    COLOR: black;
    BACKGROUND-COLOR: mediumaquamarine
}
.selTab2
{
    FONT-SIZE: 10px;
    COLOR: darkslateblue;
    BACKGROUND-COLOR: turquoise
}
.notab2
{
    BORDER-RIGHT: outset;
    BORDER-TOP: outset;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    PADDING-BOTTOM: 0pt;
    BORDER-LEFT: outset;
    CURSOR: hand;
    COLOR: white;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: outset;
    BACKGROUND-COLOR: seagreen;
    TEXT-ALIGN: center
}
.bluetext3
{
    FONT-SIZE: 10pt;
    COLOR: navy;
    BACKGROUND-COLOR: lightgoldenrodyellow;
    TEXT-ALIGN: center
}
.nonebutton
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    COLOR: white;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: white
}
.yellowtablebg1
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffff99
}
.yellowtablebg2
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: lightgoldenrodyellow
}
.ySedit
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: lightgoldenrodyellow
}
.lighttext
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: aqua
}
.lightdata
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: lightcyan
}
.lightsedit
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: lightcyan
}
.enter
{
    background-color: #ffff99;
}