.greenbutton
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 8px;
    FONT-SIZE: 10pt;
    CURSOR: hand;
    COLOR: #eaf9f5;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 6px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #006666;
    TEXT-ALIGN: center
}
.greendata
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #eaf9f5
}
.greentable
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #006666
}
.greentext
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #b3d9d1;
    TEXT-ALIGN: right
}
.greenhead
{
    FONT-SIZE: 11pt;
    COLOR: #003333;
    FONT-FAMILY: Verdana, Arial;
    FONT-VARIANT: normal
}
.greenth
{
    FONT-SIZE: 10pt;
    COLOR: black;
    HEIGHT: 20pt;
    BACKGROUND-COLOR: #b3d9d1;
    TEXT-ALIGN: center
}
.sfont8
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, 細明體, Arial
}
.sfont9
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: white
}
.greenths
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #b3d9d1;
    TEXT-ALIGN: center
}
.greendatas
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #eaf9f5
}
.greentexts
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #b3d9d1
}
.rfont9
{
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: Verdana, 細明體, Arial
}
.gfont9
{
    FONT-SIZE: 9pt;
    COLOR: green;
    FONT-FAMILY: Verdana, 細明體, Arial
}
.sfont7
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, 細明體, Arial
}
.greendata8
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, 細明體, Arial;
    BACKGROUND-COLOR: #eaf9f5
}
.tabon
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
.tab
{
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A
{
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
.tdbg
{
    BACKGROUND-POSITION: left top;
    BACKGROUND-REPEAT: no-repeat
}
.text9-white
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
.text9
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
.bluetable
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #006666
}
.lightbluetable
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #88ddff
}
.query
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #eeff00
}
.whitetablebg
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffffff
}
.yellowtablebg
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffff00
}
.SEdit
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM-STYLE: none
}
.gSEdit
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #eaf9f5;
    BORDER-BOTTOM-STYLE: none
}
.cbutton
{
    BORDER-TOP-WIDTH: 1px;
    PADDING-LEFT: 2px;
    BORDER-LEFT-WIDTH: 1px;
    FONT-SIZE: 10pt;
    BORDER-LEFT-COLOR: #88ddff;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: #000099;
    CURSOR: hand;
    COLOR: #ffffff;
    BORDER-TOP-COLOR: #88ddff;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 4px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #005599;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: #000099
}
.FormName
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
.Formtext
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
.FormLink
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #0000cc;
    FONT-FAMILY: Verdana, Arial
}
.MenuName
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffcc00;
    FONT-FAMILY: Verdana, Arial
}
.Formbody
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
.FormRtext
{
    FONT-SIZE: 10pt;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial
}
.English
{
    FONT-SIZE: 9pt;
    COLOR: #808080;
    FONT-FAMILY: "Arial"
}
.xSunDay
{
    FONT-SIZE: 10pt;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffddbb
}
.xSatDay
{
    FONT-SIZE: 10pt;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffe8e8
}
.HeadText
{
    FONT-SIZE: 10pt;
    COLOR: #000080;
    FONT-FAMILY: Verdana, Arial
}
.tab-title
{
    BACKGROUND-POSITION: center center;
    FONT-SIZE: 10pt;
    BACKGROUND-IMAGE: url(../images/titleg2.jpg);
    COLOR: darkblue;
    FONT-FAMILY: Verdana, Arial, 標楷體;
    TEXT-ALIGN: center
}
.tab-titleon
{
    BACKGROUND-POSITION: center center;
    FONT-SIZE: 10pt;
    BACKGROUND-IMAGE: url(../images/titleg11.jpg);
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, 標楷體;
    TEXT-ALIGN: center
}
.CliMod
{
    BACKGROUND-COLOR: pink
}
.CliOrg
{
    BACKGROUND-COLOR: white
}
.conts
{
    DISPLAY: none
}
.tab
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: #e0e0e0 thin solid;
    BORDER-LEFT: #faebb6 thin solid;
    CURSOR: hand;
    COLOR: #185590;
    BACKGROUND-COLOR: #faebb6;
    TEXT-ALIGN: center
}
.btab
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: #faebb6 thin solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #faebb6 thin solid;
    CURSOR: default;
    COLOR: #185590;
    BORDER-BOTTOM: gray thin solid;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: lightgoldenrodyellow;
    TEXT-ALIGN: center
}
.selTab
{
    BORDER-RIGHT: black thin solid;
    BORDER-TOP: white thin solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: white thin solid;
    CURSOR: hand;
    COLOR: white;
    BACKGROUND-COLOR: #cccfd0;
    TEXT-ALIGN: center
}
.notab
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: #e0e0e0 thin solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #faebb6 thin solid;
    CURSOR: hand;
    COLOR: navy;
    BACKGROUND-COLOR: gold;
    TEXT-ALIGN: center
}
.bttab
{
    FONT-SIZE: 10pt;
    COLOR: #185590;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: transparent
}
INPUT
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial
}
SELECT
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial
}
BODY
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial
}
.BottomFrame
{
    MARGIN-TOP: 0px;
    BACKGROUND-COLOR: lightyellow
}
.greensum
{
    COLOR: mediumblue;
    BACKGROUND-COLOR: #9adfd1
}
